[submodule "Async"]
	path = Async
	url = https://github.com/duemunk/Async
[submodule "SVProgressHUD"]
	path = SVProgressHUD
	url = https://github.com/TransitApp/SVProgressHUD
[submodule "SOAP-IOS"]
	path = SOAP-IOS
	url = https://github.com/ljlin/SOAP-IOS
[submodule "AEXML"]
	path = AEXML
	url = https://github.com/tadija/AEXML
